In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame()

In [2]:
df['age'] = [14, 12, 11, 10, 8, 6, 8]

In [3]:
sum(df['age']) / len(df['age'])
import numpy as np
np.mean(df['age'])

9.857142857142858

In [4]:
np.median(df['age'])

10.0

In [5]:
import statistics
statistics.mode(df['age'])

8

In [6]:
df['age'].var()
np.var(df.age)

6.408163265306122

In [7]:
np.std(df['age'], ddof=1)

2.734262327610589

In [8]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

1.0334540197243192

I would choose the median age as my method of central tendency due to the high level of variance between the age of the children

In [9]:
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [10]:
df['age'] = [14, 12, 11, 10, 8, 7, 8]

In [11]:
sum(df['age']) / len(df['age'])

10.0

In [12]:
np.mean(df['age'])

10.0

In [13]:
np.median(df['age'])

10.0

In [14]:
statistics.mode(df['age'])

8

In [15]:
np.var(df.age)

5.428571428571429

In [16]:
np.std(df['age'], ddof=1)

2.516611478423583

In [17]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

0.9511897312113418

In [18]:
df.describe()

             age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [19]:
df['age'] = [14, 12, 11, 10, 8, 7, 1]

In [20]:
np.mean(df['age'])

9.0

In [21]:
np.median(df['age'])

10.0

In [22]:
statistics.mode(df['age'])

StatisticsError: no unique mode; found 7 equally common values

In [23]:
(values, counts) = np.unique(df['age'], return_counts=True)

In [24]:
ind = np.argmax(counts)

In [25]:
values[ind]

1

In [26]:
np.var(df.age)

15.428571428571429

In [27]:
np.std(df['age'], ddof=1)

4.242640687119285

In [ ]:
np.std(df['age'] ,ddof=1) / np.sqrt(len(df['age']))

In [28]:
df.describe()

             age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [29]:
bb = pd.DataFrame()

In [30]:
bb['Percent'] = [20, 23, 17]

In [31]:
bb.describe()

       Percent
count      3.0
mean      20.0
std        3.0
min       17.0
25%       18.5
50%       20.0
75%       21.5
max       23.0

In [33]:
df['age'] = [14, 12, 11, 11, 8, 7, 7]

In [35]:
statistics.mode(df['age'])[0]

StatisticsError: no unique mode; found 2 equally common values

In [36]:
from collections import Counter

In [42]:
c = Counter(df['age'])
c.most_common(3)

[(11, 2), (7, 2), (14, 1)]